nav {
  background-color: #E8E0D6;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav a {
  float: left;
  font-size: 16px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

img {
  width: 100px;
  padding: 0;

}

.subnav {
  /* float: left; */
  overflow: hidden;
}

.subnav .subnav-btn {
  font-size: 16px;
  border: none;
  outline: none;
  background-color: transparent;
  margin: 0;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  /* top: 100%; */
  width: 400px;
  z-index: 1;
  column-count: 2;
  column-gap: 20px;
  background-color: #36454F;
  color: #E8E0D6;
}

.subnav-content a {
  /* float: right; */
  display: block;
  margin-bottom: 10px;
  text-align: left;
  color: #E8E0D6;
}

.subnav-content a:hover {
  background-color: #36454F;
  color: #E8E0D6;
}

.subnav:hover .subnav-content {
  display: block;
}

#nav-img {
  padding: 0;
}